.info {
  display: flex;
  flex-flow: column;
  height: 98%;
  width: 30%;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.tabs {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-top: 0.01rem solid #2362a9;
  border-left: 0.01rem solid #2362a9;
  border-right: 0.01rem solid #2362a9;
  height: 2.5rem;
  align-items: center;
}
.tabsContent:hover {
  margin: 0;
  background-color: #2362a97e;
  color: white;
}
.active {
  background-color: #2362a9c4;
  color: white;
  border-bottom: 0.2rem solid #052c59 !important;
}
.tabsContent {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
  text-align: center;
  height: 2.3rem;
  cursor: pointer;
  /* border-bottom: 0.2rem solid white; */
}
.logs {
  display: flex;
  height: 87%;
  border-radius: 0.5rem;
  width: 90%;
  flex-flow: column;

  align-items: center;
  justify-content: space-between;
}

.logContent {
  overflow-y: auto;
  padding-top: 1rem;
  height: 100%;
  background: whitesmoke;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-items: center;
}
.activity {
  display: flex;
  width: 90%;
  color: black;
  margin: 0 auto;
  padding: 0.3rem;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 0.8rem;
}

#myCardsContent {
  display: none;
}
.cards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 92%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.card {
  width: 30%;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 3px 2px lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2% 1%;
}
.card > div {
  display: flex;
  height: 100%;
}
.card > div > img {
  border-radius: 0.3rem;
  height: auto;
  width: 100%;
}
