.info {
  display: flex;
  flex-flow: column;
  height: 98%;
  width: 30%;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}
.tabs {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  align-items: center;
}
.tabsContent:hover {
  background-color: rgba(34, 124, 123, 0.1);
  color: rgba(34, 124, 123);
}
.active {
  background-color: rgba(34, 124, 123, 0.2);
  color: rgb(34, 86, 85);
  border-bottom: 0.2rem solid rgb(34, 124, 123) !important;
}
.tabsContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  height: 2.3rem;
  cursor: pointer;
  border-bottom: 0.2rem solid lightgray;
}
.logs {
  display: flex;
  height: 87%;
  border-radius: 0.5rem;
  width: 90%;
  flex-flow: column;

  align-items: center;
  justify-content: space-between;
}

.logContent {
  padding-top: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 4px 5px 11px 1px lightgrey;
  display: flex;
  flex-flow: column;
  justify-items: center;
}
.activity {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 0.3rem;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 0.8rem;
}

#myCardsContent {
  display: none;
}
#activityLogsContent {
  overflow-y: scroll;
}
.activity:first-letter {
  display: block;

  text-transform: capitalize;
}
.cards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
}
.card {
  width: 30%;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 3px 2px lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2% 1%;
}
.card > div {
  display: flex;
  height: 100%;
}
.card > div > img {
  border-radius: 0.3rem;
  height: auto;
  width: 100%;
}
