.nav {
  display: flex;
  flex-flow: row;
  height: 8%;
  margin: 0 auto;
  width: 98%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header {
  width: 50%;
  height: 100%;
  font-size: 3rem;
}
.header > img {
  height: 100%;
}
.profile {
  min-width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#profile-image {
  width: 3rem;
}
#profile-name {
  font-size: 1.2rem;
}
.separator {
  font-size: 2.5rem;
}
