.players {
  height: 93%;
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.player {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  box-shadow: -9px 0px 12px 2px lightgrey;
  border-radius: 0% 50% 50% 0%;
}
.player > .avatar {
  border: 1px solid black;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
}
.player > .avatar > img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.player .avatar > .name {
  margin: 0 auto;
  margin-top: -1.2rem;
  background: white;
  width: 91%;
  height: 105%;
  color: black;
  font-size: 0.8rem;
  text-align: center;
  text-transform: capitalize;
  clip-path: ellipse(47% 30% at 51% -6%);
}
.user {
  width: 45%;
  text-align: center;
}
#scarlet,
#mustard,
#green,
#peacock,
#plum,
#white {
  color: white;
}
#white {
  color: black;
}
#scarlet {
  background-color: #e94136;
}

#mustard {
  background-color: #efc633;
}

#white {
  background-color: #ffffff;
}

#green {
  background-color: #4ec375;
}

#peacock {
  background-color: #3c80f5;
}

#plum {
  background-color: #a80eef;
}
