body {
  margin: 0%;
  font-family: sans-serif;
  height: 100vh;
  background-color: lightgray;
  overflow: hidden;
}

.header {
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 7vh;
  margin: 0%;
  padding-top: 3%;
}

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2%;
}
.ball1,
.ball2,
.ball3,
.ball4 {
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
}

.ball1 {
  background-color: rgb(42, 23, 250);
  animation: 2s fall1 linear infinite;
}

.ball2 {
  background-color: rgb(6, 180, 21);
  animation: 2s fall2 linear infinite;
}

.ball3 {
  background-color: rgb(255, 208, 0);
  animation: 2s fall3 linear infinite;
}

.ball4 {
  background-color: rgb(255, 30, 0);
  animation: 2s fall4 linear infinite;
}

@keyframes fall1 {
  0% {
    top: 10px;
  }
  5% {
    top: 0px;
  }
  10% {
    top: 10px;
  }
  15% {
    top: 20px;
  }
  20% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes fall2 {
  0% {
    top: 10px;
  }
  20% {
    top: 10px;
  }
  25% {
    top: 0px;
  }
  30% {
    top: 10px;
  }
  35% {
    top: 20px;
  }
  40% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes fall3 {
  0% {
    top: 10px;
  }
  40% {
    top: 10px;
  }
  45% {
    top: 0px;
  }
  50% {
    top: 10px;
  }
  55% {
    top: 20px;
  }
  60% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes fall4 {
  0% {
    top: 10px;
  }
  60% {
    top: 10px;
  }
  65% {
    top: 0px;
  }
  70% {
    top: 10px;
  }
  75% {
    top: 20px;
  }
  80% {
    top: 10px;
  }
  100% {
    top: 10px;
  }
}

.loadingDiv h1,
.loadingDiv h2,
.loadingDiv h4 {
  text-align: center;
  font-weight: 200;
  color: white;
}

.loadingDiv {
  padding: 1%;
  width: 30vw;
  min-height: 40vh;
  margin: 5vh auto;
  display: flex;
  flex-flow: column wrap;
  border: 1px solid white;
  background-color: #163054;
  border-radius: 0.5vw;
}

#message {
  color: white;
  text-align: center;
}
