.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2%;
}
.ball1,
.ball2,
.ball3,
.ball4 {
  margin: 3px;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  position: relative;
  animation: 0.8s fall linear infinite;
}

.ball1 {
  background-color: rgb(42, 23, 250);
  animation-delay: 0ms;
}

.ball2 {
  background-color: rgb(6, 180, 21);
  animation-delay: 200ms;
}

.ball3 {
  background-color: rgb(255, 208, 0);
  animation-delay: 300ms;
}

.ball4 {
  background-color: rgb(255, 30, 0);
  animation-delay: 400ms;
}

@keyframes fall {
  0% {
    top: 3px;
  }
  25% {
    top: 0px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 6px;
  }
  100% {
    top: 3px;
  }
}

.loadingDiv h1,
.loadingDiv h2,
.loadingDiv h4 {
  text-align: center;
  font-weight: 200;
  color: white;
}

.loadingDiv {
  padding: 1%;
  width: 30vw;
  min-height: 40vh;
  margin: 5vh auto;
  display: flex;
  flex-flow: column wrap;
  background-color: #227c7b;
  border-radius: 0.5rem;
}

#message {
  color: white;
  text-align: center;
}
